@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
  --color-lime: #a3e635;
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}
